@keyframes move-glitch {
  0%{
    transform: translate(-10px,5px);
  }
  10%{
    transform: translate(5px,-5px);
  }
  20%{
    transform: translate(7px,3px);
  }
  30%{
    transform: translate(-5px,0px);
  }
  40%{
    transform: translate(-10px,5px);
  }
  50%{
    transform: translate(-6px,-10px);
  }
  60%{
    transform: translate(2px,5px);
  }
  70%{
    transform: translate(7px,-6px);
  }
  80%{
    transform: translate(5px,7px);
  }
  90%{
    transform: translate(0px,0px);
  }
}

.center{
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.move-glitch{
  animation: 0.2s steps(1) 0s 1 normal both running move-glitch;
}

#haba{
  font-family: 'Noto Sans JP', 'Hiragino Kaku Gothic ProN', 'Hiragino Sans', sans-serif, Meiryo;
}

#f-shoumikigenngire{
  font-family: serif;
  color: #7c4714;
}
#s-hikinobasu{
  display: inline-block;
  transition: transform 4s ease;
  transform: scale(1, 1);
}

#kiokued-img-phone {
	scale: 0.5;
	border: 2px solid white;
	position: fixed;
	right: -100px;
	bottom: -700px;
	transition: bottom 0.5s ease-in-out;
}

#kiokued-img-pc {
	scale: 0.3;
	border: 3px solid white;
	position: fixed;
	bottom: -700px;
	right: -600px;
	transition: bottom 0.5s ease-in-out;
}
#kakuhitu-tyokusen{
  display: block;
  position: absolute;
  background-color: white;
  width: 200vw;
  height: 4px;
  transform: translate(-100vw,20px);
}

#lyric-left{
	position: fixed;
	left: 0px;
	top: 50%;
	transform: rotateZ(-90deg) translateY(-50%);
}

#lyric-right{
	position: fixed;
	right: 0px;
	top: 50%;
	transform: rotateZ(90deg) translateY(-50%);
}